[Desktop Entry]
Name=Lapin
Exec=lapin
Comment=A game in which you move a rabbit trying to reach grass without being eaten or fired at.
Icon=${SNAP}/meta/gui/lapin.png
Type=Application
Terminal=true
StartupNotify=false
Categories=Game;
